@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');
@import 'css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}

#imageSection{
    display: none;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
    text-align: center;
}

.image-preview{
    width: 300px;
    min-height: 100px;
    border: 2px solid darkgray;
    
    /* Default Text */
    display: flex;
    margin: auto;
    margin-top: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cec1f4;
}

.image-preview_image{
    width: 100%;
}
